saxpy/cudaSaxpy
**/objs/**
**/compile_commands.json
saxpy/setup.sh
**/.cache/**
saxpy/.clangd
saxpy/setup.sh
scan/cudaScan
**/.vscode/**
scan/logs/**
.gitattribute
cs149_asset3.stf
render/render
.gitignore
render/output_0000.ppm
